@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaBoldCondensedBT.ttf");
    font-family: "FuturaPT";
    src: url("../fonts/FuturaBoldCondensedBT.ttf"); }
  
  @font-face {
    font-family: "SFPro";
    src: url("../fonts/SF-Pro-Display-MediumItalic.ttf");
    font-family: "SFPro";
    src: url("../fonts/SF-Pro-Display-MediumItalic.ttf"); }
  
  .events-wrapper {
    width: 100%;
    /* background: #288aff; */
    overflow: hidden;
    position: relative;
    height: 100vh; }
    @media screen and (max-width: 600px) {
      .events-wrapper {
        padding-top: 4vh; } }
    .events-wrapper .event-background-asset-01 {
      position: absolute;
      background: url("../img/events-asset-01.png");
      background-size: cover;
      width: 500px;
      height: 500px;
      top: calc(50% - 125px);
      z-index: 0;
      right: -250px;
      animation: rotate-ellipse 45s linear infinite;
      -webkit-animation: rotate-ellipse 45s linear infinite; }
      @media screen and (max-width: 600px) {
        .events-wrapper .event-background-asset-01 {
          width: 250px;
          height: 250px;
          right: -125px;
          top: 25%; } }
    .events-wrapper .event-background-asset-02 {
      position: absolute;
      background: url("../img/events-asset-02.png");
      background-size: 100% 100%;
      width: 80%;
      height: 70%;
      top: -5%;
      left: 10%;
      margin: 10% 0;
      z-index: 0; }
      @media screen and (max-width: 600px) {
        .events-wrapper .event-background-asset-02 {
          width: 150%;
          left: -50%;
          top: 15%;
          transform: rotateX(-45deg); } }
    .events-wrapper .event-background-asset-03 {
      position: absolute;
      background: url("../img/events-asset-03.png");
      background-size: 100% 100%;
      width: 60%;
      height: 80%;
      top: 5%;
      left: 20%;
      z-index: 0; }
      @media screen and (max-width: 600px) {
        .events-wrapper .event-background-asset-03 {
          width: 100%; } }
    .events-wrapper .events-index {
      position: absolute;
      z-index: 1;
      overflow: hidden;
      position: relative;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 600px) {
        .events-wrapper .events-index {
          padding-top: 2.5vh; } }
      .events-wrapper .events-index .events-title {
        /* font-family: "FuturaPT"; */
        letter-spacing: 20px;
        margin: 0 0 0 50px;
        font-size: 4rem;
        /* text-align: center; */
        color: #ffffff; }
        @media screen and (max-width: 600px) {
          .events-wrapper .events-index .events-title {
            font-size: 2rem;
            letter-spacing: 2vw;
            margin: 5% auto; } }
      .events-wrapper .events-index .events-container {
        width: 100%;
        padding: 76px 0;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        transition: transform 0.75s ease-in; }
        @media screen and (max-width: 600px) {
          .events-wrapper .events-index .events-container {
            padding: 0; } }
        .events-wrapper .events-index .events-container .events-set {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          min-width: 100%; }
          @media screen and (max-width: 600px) {
            .events-wrapper .events-index .events-container .events-set {
              flex-direction: column;
              height: 80vh;
              flex-wrap: wrap;
              align-content: space-evenly; } }
          .events-wrapper .events-index .events-container .events-set .events-card {
            width: 15%;
            height: 20vw;
            border-radius: 5%;
            transform-style: preserve-3d;
            transition: transform 0.5s ease-in;
            box-shadow: 0 0 50px 1px #333333; }
            @media screen and (max-width: 600px) {
              .events-wrapper .events-index .events-container .events-set .events-card {
                width: 30%;
                height: 30%;
                box-shadow: 0 0 25px 1px #333333; } }
            .events-wrapper .events-index .events-container .events-set .events-card .events-card-back {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #ffffff;
              border-radius: 5%;
              backface-visibility: hidden;
              visibility:visible;
              -webkit-backface-visibility: hidden; }
              .events-wrapper .events-index .events-container .events-set .events-card .events-card-back img {
                width: 75%; }
            .events-wrapper .events-index .events-container .events-set .events-card .events-card-front {
              /* width: 90%; */
              height: 100%;
              /* padding: 0 5%; */
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              background: #ffffff;
              transform: rotateY(180deg) translateY(-100%);
              border-radius: 5%;
              backface-visibility: hidden;
              -webkit-backface-visibility: hidden;
              visibility:visible;
              position: relative; }
              .events-wrapper .events-index .events-container .events-set .events-card .events-card-front .event-name {
                font-family: "Affirmative";
                font-size: 1.75rem;
                letter-spacing: 3.5px;
                color: #ffffff;
                text-align: center;
                position: absolute;
                z-index: 20;
                bottom: 5%; }
                @media screen and (max-width: 1600px) {
                  .events-wrapper .events-index .events-container .events-set .events-card .events-card-front .event-name {
                    font-size: 1.25rem; } }
                @media screen and (max-width: 1300px) {
                  .events-wrapper .events-index .events-container .events-set .events-card .events-card-front .event-name {
                    font-size: 1.1rem; } }
                @media screen and (max-width: 600px) {
                  .events-wrapper .events-index .events-container .events-set .events-card .events-card-front .event-name {
                    font-size: 0.75rem;
                    letter-spacing: 3px; } }
              .events-wrapper .events-index .events-container .events-set .events-card .events-card-front .event-img {
                height: 100%;
                width: 100%;
                padding: 0 6%;
                border-radius: 5%;
                background-size: cover; }
  
  .events-msg {
    font-family: "SFPro";
    text-align: end;
    font-size: 1.15rem;
    padding-right: 7.5%;
    color: #ffffff; }
    @media screen and (max-width: 600px) {
      .events-msg {
        display: none; } }
  
  .events-nav-dots {
    text-align: center;
    margin: 32px 0; }
    @media screen and (max-width: 600px) {
      .events-nav-dots {
        margin: 16px 0; } }
    .events-nav-dots .event-nav-dot {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 3.5px solid #ffffff;
      margin: 5px;
      display: inline-block;
      cursor: pointer;
      transition: 0.75s; }
      .events-nav-dots .event-nav-dot:nth-of-type(1) {
        background: #ffffff; }