@font-face {
      font-family: "BlackChancery";
      src: url("../fonts/blackchancery/BLKCHCRY.TTF");
}

body {
      overflow: hidden;
      margin: 0;
}
.main-section-landing {
      background: url(../assets/pc/Desktop-3.png) no-repeat;
      background-size: 100% 100%;
      height: 100vh;
      background-size: cover;
}





@media (max-width: 768px) {
      .main-div {
            background: url(../assets/mobile/mobileWall.png) no-repeat;
            background-size: 100% 100%;
            height: 100vh;
      }
  

    
}
