@font-face {
  font-family: "anurati";
  src: url("../fonts/anurati/Anurati-Regular.otf");
}

body {
  margin: 0;
  background: #000000;
  /* position: relative; */
}

html,
body {
  overflow-x: hidden;
}

.main-section-landing {
  background: url(../assets/pc/new-desktop.png) no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  background-size: cover;
}

.blitz {
  font-family: "affirmative";
  letter-spacing: 0.1em;
}

.main-heading {
  position: absolute;
  bottom: 2%;
  font-size: 6.1rem;
  width: 100%;
  text-align: center;
  font-family: "affirmative";
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.red-dash,
.red-dash2,
.red-dash3,
.red-dash4 {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 4vw;
  top: 110vh;
}

.red-dash2 {
  top: 170vh;
}

.red-dash3 {
  top: 230vh;
  display: none;
}

.red-dash4 {
  top: 211vh;
  /* display: none; */
}

.modal-dialog {
  max-width: 65vw !important;
}

.modal-body {
  padding: 0 !important;
}

.btn-close {
  position: absolute;
  right: 5%;
  font-size: 20px;
  color: white !important;
  opacity: 0.9 !important;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: white;
  width: 2px;
}

@media (max-width: 768px) {
  .main-section-landing {
    background: url(../assets/mobile/new-mobile.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  .main-heading {
    font-size: 10vw;
    width: 70%;
    top: 40%;
  }

  .main-section-landing a {
    font-size: 20px;
    padding: 10px;
  }

  /* span {
    width: 100%;
    text-align: center;
  } */
  /* nav span {
    border: #ff4654 solid 2px;
    border-radius: 12px;
    position: relative;
    top: 85vh;
    margin: 0px 15vw;
  } */
}

.select2-search__field {
  color: black;
}

/* 
.select2-results__message{
      color: blue !important;
} */

#add-college {
  cursor: pointer;
}

#newCollegeBtn,
#newMemberBtn,
#newMemberAddBtn {
  border: none;
  font-weight: 400;
  width: 100px;
  margin-left: 20px;
  background: none;
  color: white;
  border: 1px solid white;
}

#newMemberAddBtn {
  height: 50px !important;
  margin-left: 50px;
}

#newCollegeBtn:hover,
#newMemberBtn:hover,
#newMemberAddBtn:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(143, 2, 2);
  transform: scale(1.05);
  transition: 0.5s all ease-in-out;
  box-shadow: 3.3px 3.4px 6px -45px rgba(0, 0, 0, 0.031),
    9.1px 9.5px 16.5px -45px rgba(0, 0, 0, 0.045),
    22px 22.9px 39.8px -45px rgba(0, 0, 0, 0.059),
    73px 76px 132px -45px rgba(0, 0, 0, 0.09);
}
select option {
  color: black;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #ff4654;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.game-details {
  display: flex;
  color: #ffffff;
  margin: 1rem 0;
  align-items: center;
}

.game-details-img {
  width: 40%;
  margin-right: 1rem;
}

.game-details-img img {
  width: 100%;
}

.game-details-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  font-family: "Montserrat", sans-serif;
  width: 60%;
}

.game-details-text span {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.3;
  text-align: center;
  margin-bottom: 2rem;
}

.modal-body h2 {
  font-family: "affirmative";
  font-weight: 500;
  font-size: 3.5rem;
  margin: 0;
  color: #eeeeee;
}

.container {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.games,
.about {
  margin-top: 5rem;
}

.subHeading {
  font-size: 4.5rem;
  color: #ffffff;
  margin: 2rem 0;
  padding-bottom: 2rem;
}

.gamesContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.gamesCard {
  width: 18%;
  border-radius: 5px;
  overflow: hidden;
  margin: 2rem 2rem 3rem;
  height: 21rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gamesCard:hover {
  transform: scale(1.02);
  transition: linear 0.2s;
  /* padding: 5px 25px 10px; */
}

.gamesCard img {
  width: initial;
  height: 100%;
}

.aboutContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.aboutText {
  width: 65%;
  margin: 3rem 3rem 0 0;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
}

.aboutText p {
  margin: 2rem 0;
}

.aboutVid {
  width: 35%;
}

.aboutVid img {
  width: 100%;
}

.cross {
  position: absolute;
  top: 89vh;
  padding: 5px;
  background: #ffffff30;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
}

.cross:hover {
  background: white;
}

.fa-chevron-down {
  color: rgb(255, 255, 255, 0.9);
  font-size: 1.75rem;
  font-weight: 400;
}

.cross:hover .fa-chevron-down {
  color: #000000;
}

@media screen and (max-width: 600px) {
  .games {
    order: 2;
  }

  .about {
    order: 1;
  }

  .gamesContainer {
    flex-wrap: wrap;
  }

  .gamesCard {
    width: 45%;
    margin: 0 0 2rem 0;
    height: 15rem;
  }

  .subHeading {
    font-size: 8vw;
    margin-bottom: 2rem;
  }

  .aboutContainer {
    flex-direction: column;
    justify-content: center;
  }

  .aboutText {
    margin: 1rem 0;
    width: 100%;
  }

  .aboutText p {
    margin: 1rem 0;
  }

  .aboutVid {
    width: 100%;
    margin-top: 1rem;
  }

  .game-details {
    flex-direction: column;
  }

  .game-details-img,
  .game-details-text {
    width: 100%;
    margin-top: 2rem;
  }

  .game-details-text {
    padding: 0;
  }

  .game-details-img {
    margin: 0;
  }

  .red-dash,
  .red-dash2,
  .red-dash3,
  .red-dash4 {
    display: none;
  }

  .red-dash2 {
    top: 180vh;
  }

  .red-dash3 {
    top: 240vh;
  }

  .red-dash4 {
    top: 300vh;
  }

  .cross {
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }

  .fa-chevron-down{
    font-size: 1rem;
  }
}
