
:root {
    --yellow: #feb60a;
    --red: #ff0062;
    --blue: #00dbf9;
    --violet: rgb(2, 85, 2);
}
.spinner {
     z-index: 2000;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.15) 0%,
          rgba(0, 153, 212, 0) calc(15% + 100px),
          rgba(0, 99, 138, 0) calc(85% + 100px),
          rgba(0, 0, 0, 0.15) 100%
    );
}



div.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.spinner img{
  width: 10%;
}
.spinner div > div {
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    margin: 2vw;
    background-image: linear-gradient(
          145deg,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(0, 0, 0, 0) 100%
    );
    animation: bounce 1.5s 0.5s linear infinite;
}
.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
    animation-delay: 0.1s !important;
}

.red {
background-color: var(--red);
    animation-delay: 0.2s !important;
}

.violet {
    background-color: var(--violet);
    animation-delay: 0.3s !important;
}

@keyframes bounce {
    0%,
    50%,
    100% {
          transform: scale(1);
          filter: blur(0px);
    }
    25% {
          transform: scale(0.6);
          filter: blur(3px);
    }
    75% {
          filter: blur(3px);
          transform: scale(1.4);
    }
}



@media (max-width:768px) {

  .spinner img{
      width: 30%;
  }


  .spinner div > div{
      width: 5vw;
      height: 5vw;
  }
}


