@font-face {
  font-family: "affirmative";
  src: url("../fonts/affirmative/Affirmative.ttf");
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav * {
  font-family: "affirmative";
}

nav span {
  color: white;
  font-size: 30px;
  padding: 2px 4rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  cursor: pointer;
}

nav span:hover {
  transform: scale(1.02);
  transition: linear 0.4s;
  /* padding: 5px 25px 10px; */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 20;
  transition: background 0.5s ease;
  /* background: #00000080; */
}
nav div {
  display: flex;
  /* justify-content: space-between; */
}

.menu-btn {
  --box-shadow-color: rgba(255, 101, 47, 0.2);
  width: 60px;
  height: 60px;
  position: absolute;
  right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  /* border: 5px solid #fff; */
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 42px;
  height: 2.4px;

  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px var(--box-shadow-color);

  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 768px) {
  .menu-btn {
    right: 20px;
    top: 10px;
  }

  nav span {
    padding: 2px 2rem;
  }

  nav {
    padding: 10px;
    position: initial;
    flex-direction: column;
  }

  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: "affirmative";
    font-size: 22px;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 12rem;
    height: 115vh;
    background: black;
    list-style-type: none;
    z-index: 20;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .mobile-menu li {
    padding-left: 50px;
  }

  .mobile-menu li a{
    color: #ffffff;
    text-decoration: none;
  }
  #hamburger {
    display: block !important;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 25;
  }
  
  .show {
    display: none;
  }
  
  .hide {
    display: block;
  }
}

#hamburger {
  display: none;
  cursor: pointer;
  z-index: 25;
}

#hamburger div {
  width: 30px;
  margin: 5px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.5s ease;
  border-radius: 3px;
}

.navActive {
  transform: translateX(0%);
}

/* #hamburger.open .line:nth-last-child(-n+3) {
  display: none;
} */

#hamburger.open .line:nth-child(1) {
  transform: translateY(8px) rotateZ(45deg);
}

#hamburger.open .line:nth-child(3) {
  transform: translateY(-8px) rotateZ(-45deg);
}

#hamburger.open .line:nth-child(2) {
  width: 0;
}